@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }
  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
 }

 .Signup .form-group {
   text-align: left;
   font-weight: bold;
 }
